/* TopBarComponent.module.css */
.topBar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headerSection {
    height: 91px;
    background: #e87500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Change from flex-start to space-between */
    padding: 0 20px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    position: relative;
    /* Add this line to set the position property */
}

.menuSection {
    height: 92px;
    background: #154734;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    gap: 200px;
}

.navigationLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
    font-size:25px;
}

.navigationLink:hover {
    text-decoration: underline;
}

.logout {
    text-decoration: underline;
    color: #007bff;
    cursor: pointer;
}