DATABASE_URL=file:./dev.db
BETTER_AUTH_SECRET="randomly-generated-str"
BETTER_AUTH_URL=http://localhost:3000
EMAIL_USER="sample-user@gmail.com"
EMAIL_PASS="google-app-pwd"
EMAIL_FROM=smtp.gmail.com
EMAIL_HOST="sample-user@gmail.com"
UPLOAD_STORAGE_PATH="full-path-to-image-store"
