DATABASE_URL=file:./dev.db
BETTER_AUTH_SECRET="randomly-generated-str"
BETTER_AUTH_URL=http://localhost:3000
EMAIL_USER="your-gmail@gmail.com"
EMAIL_PASS="your-gmail-app-password"
EMAIL_FROM="your-gmail@gmail.com"
EMAIL_HOST="smtp.gmail.com"
UPLOAD_STORAGE_PATH="/absolute/path/to/image/storage"
ADMIN_EMAILS="admin@utdallas.edu,another-admin@utdallas.edu"
