# Node
node_modules/
.output/
.nuxt/
.cache/

# Environment
.env*
!.env.example

# Database (dev only)
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
efs/
prisma/generated

# OS
.DS_Store
*.log

# TypeScript
*.tsbuildinfo
uploads/
