.container {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 107px;
  background-color: #154734;
  display: flex;
  justify-content: center;
  align-items: center;
}

.requestForm {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #FFFFFF;
}

.budgetInfo {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 15px 0;
}

.budget,
.remaining {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 30px;
}

.vendor,
.date,
.expenseJustification,
.additionalInfo,
.itemDescription,
.itemLink,
.partNum,
.quantity,
.unitCost,
.totalCost,
.supportingDocs {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  color: #000000;
  margin-bottom: -15px;
}

.vendorField,
.dateField,
.expenseField,
.additionalinfoField,
.itemdescriptionField,
.itemlinkField,
.partnumField,
.quantityField,
.unitcostField,
.totalcostField,
.supportingdocsField {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
}

.submitButton {
  background-color: #154734;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 600;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}