.rectangle-1 {
  position: absolute;
  width: 1738px;
  height: 107px;
  left: 0px;
  top: 0px;
  background: #154734;
}

.request-form {
  position: absolute;  
  width: 608px;
  height: 76px;
  left: 445px;
  top: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #FFFFFF;
}

.budget{
  position: absolute;
  width: 353px;
  height: 43px;
  left: 437px;
  top: 107px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  }

.remaining{
  position: absolute;
  width: 409px;
  height: 56px;
  left: 900px;
  top: 107px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  }

.vendor{
  position: absolute;
  width: 469px;
  height: 65px;
  left: -141px;
  top: 192px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  }

.vendor-field{
  box-sizing: border-box;
  position: absolute;
  width: 680px;
  height: 64px;
  left: 27px;
  top: 234px;
  background: #FFFFFF;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.date{
  position: absolute;
  width: 352px;
  height: 48px;
  left: 639px;
  top: 187px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  }

.date-field{
  box-sizing: border-box;
  position: absolute;
  width: 670px;
  height: 64px;
  left: 764px;
  top: 233px;
  background: #FFFFFF;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.expense-justification{
    position: absolute;
    width: 472px;
    height: 36px;
    left: -5px;
    top: 298px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000000;
  }

  .expense-field{
    box-sizing: border-box;
    position: absolute;
    width: 1409px;
    height: 64px;
    left: 23px;
    top: 351px;
    background: #FFFFFF;
    border: 1.5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.additional-info{
    position: absolute;
    width: 604px;
    height: 72px;
    left: -67px;
    top: 415px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000000;
 }

.additionalinfo-field{
  box-sizing: border-box;
  position: absolute;
  width: 1409px;
  height: 64px;
  left: 23px;
  top: 460px;
  background: #FFFFFF;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-description{
position: absolute;
width: 469px;
height: 65px;
left: -52px;
top: 530px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #000000;
}

.itemdescription-field{
  box-sizing: border-box;
  position: absolute;
  width: 1409px;
  height: 64px;
  left: 23px;
  top: 582px;
  background: #FFFFFF;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .item-link{
  position: absolute;
  width: 411px;
  height: 65px;
  left: -90px;
  top: 648px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  }

.itemlink-field{
  box-sizing: border-box;
  position: absolute;
  width: 1409px;
  height: 64px;
  left: 23px;
  top: 690px;
  background: #FFFFFF;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.part-num{
  position: absolute;
  width: 469px;
  height: 65px;
  left: -89px;
  top: 756px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}

.partnum-field{
  box-sizing: border-box;
  position: absolute;
  width: 646px;
  height: 64px;
  left: 23px;
  top: 801px;
  background: #FFFFFF;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .quantity{
  position: absolute;
  width: 469px;
  height: 65px;
  left: 630px;
  top: 756px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  
  color: #000000;
  
  }
  
  .quantity-field{
  box-sizing: border-box;
  position: absolute;
  width: 644px;
  height: 64px;
  left: 788px;
  top: 801px;
  background: #FFFFFF;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .unit-cost{
  position: absolute;
  width: 337px;
  height: 72px;
  left: -55px;
  top: 864px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  
  color: #000000;
  
  }
  .unitcost-field{
  box-sizing: border-box;
  position: absolute;
  width: 646px;
  height: 64px;
  left: 23px;
  top: 910px;
  background: #FFFFFF;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .total-cost{
  position: absolute;
  width: 469px;
  height: 65px;
  left: 643px;
  top: 870px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  }
  
  .totalcost-field{
  box-sizing: border-box;
  position: absolute;
  width: 643px;
  height: 64px;
  left: 786px;
  top: 915px;
  background: #FFFFFF;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .supporting-docs{
  position: absolute;
  width: 681px;
  height: 78px;
  left: -93px;
  top: 985px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  
  
    }

   .add-item{
      position: absolute;
      width: 498px;
      height: 44px;
      left: 531px;
      top: 1044px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 38px;
      line-height: 46px;
      text-align: center;
      text-decoration-line: underline;
      color: #000000;
      
      }

      .submit-box{
        position: absolute;
        width: 237px;
        height: 73px;
        left: 63px;
        top: 1029px;
        background: #154734;
        width: 168px;
        height: 58px;
        left: 1248px;
        top: 1090px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        color: #FFFFFF;
        }

